a {
    transition: .3s;
}

a:hover {
    transition: .3s;
}

#scroll {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    text-align: center;
    font-size: 36px;
    border: 1px solid #ddd;
    background: #fff;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

#scroll.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

#scroll:hover {
    background: #0085a1;
    color: #fff;
    transition: .3s;
}

.floating-label-form-group-with-value label {
    color: #0085a1;
}
.floating-label-form-group.error-form-required {
    border-bottom : 1px solid firebrick;
    transition: .3s;
    background: rgba(241, 0, 0, 0.03);
}

.error-form-required label {
    color: firebrick;
}